@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --FF: 'Space Mono', monospace;
    --FS: 24px;
    --STRONGCYAN: hsl(172, 67%, 45%);
    --VERYDARKCYAN: hsl(183, 100%, 15%);
    --DARKGRAYISHCYAN: hsl(186, 14%, 43%);
    --GRAYISHCYAN: hsl(184, 14%, 56%);
    --LIGHTGRAYISHCYAN: hsl(185, 41%, 84%);
    --VERYLIGHTCYAN: hsl(189, 41%, 97%);   
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--LIGHTGRAYISHCYAN);
    font-size: var(--FS);
    font-family: var(--FF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app--container{
    background-color: var(--VERYLIGHTCYAN);
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
}

.app--title{
    text-transform: uppercase;
    color: var(--VERYDARKCYAN);
    font-size: 1.7rem;
    text-align: center;
    letter-spacing: .5rem;
}

form{
    display: flex;
    flex-direction: column;
}

.result--container{
    background-color: var(--VERYDARKCYAN);
}