@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --FF: 'Space Mono', monospace;
    --FS: 24px;
    --STRONGCYAN: hsl(172, 67%, 45%);
    --VERYDARKCYAN: hsl(183, 100%, 15%);
    --DARKGRAYISHCYAN: hsl(186, 14%, 43%);
    --GRAYISHCYAN: hsl(184, 14%, 56%);
    --LIGHTGRAYISHCYAN: hsl(185, 41%, 84%);
    --VERYLIGHTCYAN: hsl(189, 41%, 97%);   
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--LIGHTGRAYISHCYAN);
    font-size: var(--FS);
    font-family: var(--FF);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main--container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
}

.app--container{
    background-color: var(--VERYLIGHTCYAN);
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
    color: var(--GRAYISHCYAN);
}

form{
    display: flex;
    flex-direction: column;
}

.result--container{
    background-color: var(--VERYDARKCYAN);
}

input {
    padding: 10px;
    font-size: inherit;
    text-align: right;
    border: 1px solid transparent;
    background-color: var(--LIGHTGRAYISHCYAN);
    color: var(--VERYDARKCYAN);
    font-family: inherit;
    border-radius: 10px;
}

.input--bill:focus, .input--custom:focus, .input--peopleCount:focus{
    outline: 3px solid var(--STRONGCYAN);
}

.label--bill, .label--number--people{
    position: relative;
}

.label--bill::before{
    content: "";
    width: 50px;
    height: 50px;
    /* background-color: red; */
    top: 50px;
    left: 0;
    position: absolute;
    background-image: url('/src/assets/images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

fieldset{
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

fieldset > label{
    background-color: var(--VERYDARKCYAN);
    border-radius: 5px;
    text-align: center;
    color: var(--LIGHTGRAYISHCYAN);
    padding-block: 10px;
}

.label--bill, legend, .label--number--people{
    font-size: 1rem;
    padding-block: 10px;
}

.label--number--people::before{
    content: "";
    width: 50px;
    height: 50px;
    /* background-color: red; */
    top: 50px;
    left: 0;
    position: absolute;
    background-image: url('/src/assets/images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}

.result--container{
    padding: 20px;
    margin-block: 30px;
    border-radius: inherit;
    font-size: .9rem;
    color: var(--LIGHTGRAYISHCYAN);
}

.text--perperson{
    color: var(--DARKGRAYISHCYAN);
    font-size: .7rem;
}

.text--amount{
    font-size: 1.5rem;
    color: var(--STRONGCYAN);
}

.text--zero{
    color: #ff0000b4;
    position: absolute;
    top: 10px;
    right: 0;
}

.tiptotal--container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

button{
    border: 1px solid transparent;
    background-color: var(--STRONGCYAN);
    width: 100%;
    padding-block: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--VERYDARKCYAN);
    font-weight: bolder;
    font-family: inherit;
    font-size: 1.2rem;
    margin-top: 30px;
}

.label--radio{
    cursor: pointer;
}

.label--radio:focus-within, .label--radio:hover {
    background-color: var(--STRONGCYAN);
    color: var(--VERYDARKCYAN);
}

input[type=radio]{
    position: absolute;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

input[type=radio]:checked{
    background-color: transparent;
}

.input--custom{
    padding-block: 0;
    width: 100%;
}

button:disabled{
    opacity: .2;
}